@import '../shared.css';

.organization-container{
    font-family: 'Proxima-nova, serif';
    font-size: 14px;
}

.organization-container a.title {
    color: #fff;
    background-color: #1271E3;
    height: auto;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    font-weight: 100;
    font-size: 24px;
    line-height: 32px;
}

.organization-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.organization-container ul li {
    padding: 10px;
    border-bottom: 1px solid rgb(160, 152, 152);
    align-items: center;
    display: flex;
}

.organization-container ul li span.fullName{
    font-weight: 400;
    font-size: 24px;
    font-family:' Yale New,serif';
    line-height: 32px;
    color: #224570;
    min-width: 200px;
}

.organization-container ul li span.userId{
    margin-right: 11px;
    font-size: 20px;
}

.organization-container a.view-details {
    background-color: #1271e3;
    box-shadow: 0 5px 0 darkred;
    color: white;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 12px;
  }
  
  .organization-container a.view-details:hover {
    background-color: #ce0606;
    cursor: pointer;
  }
  
  .organization-container a.view-details:active {
    box-shadow: none;
    top: 5px;
  }  

  .organization-container .invalid-api-key{
    font-size: 24px;
    padding: 18px;
    display: flex;
  }